<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Lost in the Woods</h1>
    <p>List of local hiking trails...</p>
    <table>
        <th>Trail Name</th>
            <td><a href="">blah blah blah </a></td>
        <th>Trail Length</th>
        <th>Elevation Change</th>
    </table>
    <button type="submit">Add a New Trail!</button>
    
</body>
</html>